body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}


.ProfilePic {
  text-align: center !important;
  padding:20px !important;

}

.ProfileDetail span {
  padding-left: 10px !important;

}

.ProfileDetail{
  margin-left: 30px !important;
  font-size: 14px !important;
}

.ProfileName {
    text-align: center !important;
}


#TeacherSection {
  width:95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: white !important;
}
#StudentSection {
  width:95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: white !important;
}

.StudentCourses Col {
  margin-left: 5px !important;
  margin-right: 5px !important;
}


Card {
  margin:5px !important;
}

#loginFormDiv{

  background-color: #f3f3f3;
  padding:30px !important;
  width:30% !important;
  margin-left:auto !important;
  margin-right: auto !important;

}


.Home {
  background-color:#e6e4e4 !important;
  min-height: 100vh !important;
}
p {
  padding: 5px !important;
}

.LoginInfo {
  width:90% !important;
  background-color: #f3f3f3;
  margin-top: 30px !important;
  padding: 30px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;

}
